@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-box22 {
  box-shadow: 5px 5px rgba(120, 0, 0, 0.4), 10px 10px rgba(20, 0, 0, 0.3),
    5px 5px rgba(255, 0, 0, 0.2), 10px 10px rgba(255, 0, 0, 0.1),
    5px 5px rgba(255, 0, 0, 0.05);
}

.screen {
  background-color: #fff;
  height: 140px;
  width: 50%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  margin-left: auto;
  margin-right: auto;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: rgb(34 197 94);
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.container-seat {
  perspective: 1000px;
  margin-bottom: 30px;
}
